<!DOCTYPE html>

@*Aqui digo que meu model é uma lista tipada de produtos*@

@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <!--tag que representa o app.component-->
    <app-root>

    </app-root>

    <!--xscripts do angula 7-->

    <script src="~/clientapp/dist/polyfills.js"></script>
    <script src="~/clientapp/dist/runtime.js"></script>
    <script src="~/clientapp/dist/styles.js"></script>
    <script src="~/clientapp/dist/vendor.js"></script>

    <!--main js tem que estar em último-->
    <script src="~/clientapp/dist/main.js"></script>

    <!--fim dos scripts do angula 7-->

</body>
</html>
