<!DOCTYPE html>

@*Aqui digo que meu model é uma lista tipada de produtos*@

@{
    Layout = null;
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <h2>Teste</h2>

    @foreach (var item in Model) {
        <div>
            @item.Nome
        </div>
    }
</body>
</html>
